<!DOCTYPE html>
<html>
  <head>
    <title>Ovatio</title>
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <meta content="template language" name="keywords">
    <meta content="Tamerlan Soziev" name="author">
    <meta content="Admin dashboard html template" name="description">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="./img/favicon.png" rel="shortcut icon">
    <link href="apple-touch-icon.png" rel="apple-touch-icon">
  </head>
  <body>
    <div id="react-app"></div>
  </body>

<!--  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="/bower_components/moment/moment.js"></script>
  <script src="/bower_components/chart.js/dist/Chart.min.js"></script>
  <script src="/bower_components/select2/dist/js/select2.full.min.js"></script>
  <script src="/bower_components/ckeditor/ckeditor.js"></script>
  <script src="/bower_components/bootstrap-validator/dist/validator.min.js"></script>
  <script src="/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
  <script src="/bower_components/dropzone/dist/dropzone.js"></script>
  <script src="/bower_components/editable-table/mindmup-editabletable.js"></script>
  <script src="/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
  <script src="/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
  <script src="/bower_components/fullcalendar/dist/fullcalendar.min.js"></script>
  <script src="/bower_components/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js"></script>
  <script src="/bower_components/tether/dist/js/tether.min.js"></script>
  <script src="/bower_components/bootstrap/js/dist/util.js"></script>
  <script src="/bower_components/bootstrap/js/dist/alert.js"></script>
  <script src="/bower_components/bootstrap/js/dist/button.js"></script>
  <script src="/bower_components/bootstrap/js/dist/carousel.js"></script>
  <script src="/bower_components/bootstrap/js/dist/collapse.js"></script>
  <script src="/bower_components/bootstrap/js/dist/dropdown.js"></script>
  <script src="/bower_components/bootstrap/js/dist/modal.js"></script>
  <script src="/bower_components/bootstrap/js/dist/tab.js"></script>
  <script src="/bower_components/bootstrap/js/dist/tooltip.js"></script>
  <script src="/bower_components/bootstrap/js/dist/popover.js"></script>-->



</html>
