<!DOCTYPE html>
<html>
<head>
    <title>Ovatio</title>
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <meta content="template language" name="keywords">
    <meta content="Tamerlan Soziev" name="author">
    <meta content="Admin dashboard html template" name="description">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="favicon.png" rel="shortcut icon">
    <link href="apple-touch-icon.png" rel="apple-touch-icon">
    <link href="style/theme.css" rel="stylesheet">
    <link href="style/login.css" rel="stylesheet">
</head>
<body class="auth-wrapper">
<div class="all-wrapper menu-side with-pattern">
    <div class="auth-box-w">
        <div class="logo-w">
            <img alt="logo_ovatio" width="100%" height=100%"  src="/img/logo_ovatio.jpg">
        </div>
        <h4 class="auth-header">
            Entrez votre nouveau mot de passe
        </h4>
        <form action="/api/users/resetPwd" method="post">
            <input type="hidden" name="token" value="<%= token %>">
            <div class="form-group">
                <div class="has-error has-danger">
                    <div class="form-control-feedback">
                        <%= messages %>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="">Mot de passe</label><input class="form-control" placeholder="Mot de passe" name="password" required type="password"/>
                <div class="pre-icon os-icon os-icon-fingerprint"></div>
            </div>
            <div class="form-group">
                <label for="">Confirmer</label><input class="form-control" placeholder="Mot de passe" name="confirm" required type="password"/>
                <div class="pre-icon os-icon os-icon-fingerprint"></div>
            </div>
            <div class="buttons-w">
                <button class="btn btn-primary">Enregistrez</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>