<!DOCTYPE html>
<html>
<head>
    <title>Ovatio</title>
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <meta content="template language" name="keywords">
    <meta content="Tamerlan Soziev" name="author">
    <meta content="Admin dashboard html template" name="description">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="favicon.png" rel="shortcut icon">
    <link href="apple-touch-icon.png" rel="apple-touch-icon">
    <link href="style/theme.css" rel="stylesheet">
    <link href="style/login.css" rel="stylesheet">
</head>
<body class="auth-wrapper">
<div class="all-wrapper menu-side with-pattern">
    <div class="auth-box-w">
        <div class="logo-w">
            <img alt="logo_ovatio" width="100%" height=100%"  src="/img/logo_ovatio.jpg">
        </div>

        <h4 class="auth-header">
            Réinitialiser le mot de passe
        </h4>
        <%if(sendSuccess) {%>
        <div style="padding: 20px 80px; padding-bottom: 60px">
            <p style="display: inline-block; margin-bottom: .5rem">Un email vous a été envoyé.</p>
        </div>
        <%} else {%>

        <form action="/api/users/sendResetMail" method="post">
            <div class="form-group">
                <div class="has-error has-danger">
                    <div class="form-control-feedback">
                        <%= messages %>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="">Email</label><input class="form-control" placeholder="Email" name="email" required type="text"/>
                <div class="pre-icon os-icon os-icon-user-male-circle"></div>
            </div>
            <div class="buttons-w">
                <button class="btn btn-primary">Envoyer un mail</button>
                <a href="/login" class="btn btn-primary">Annuler</a>
            </div>
        </form>
        <%}%>
    </div>
</div>
</body>
</html>
