/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
/* the labels around the switch */
.option1 {
  position: relative;
  display: inline-block;
  width: auto;
  height: 34px;
  text-align: center;
  padding:5px;
}
.option2 {
  position: relative;
  display: inline-block;
  width: auto;
  height: 34px;
  text-align: center;
  padding:5px;
}

span.selected {
  color: #4C95C8;
}
span.unselected {
  color: gray;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2196F3;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:focus + .slider {
  box-shadow: 0 0 1px red;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

#react-paginate ul {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
}

#react-paginate li {
  display: inline-block;
}

#react-paginate a {
  cursor: pointer;
}

.current a {
  color: black;
}

.element-wrapper .element-header, legend span, legend:before{
  z-index: 0;
}

.userIsDeleted{
  background-color: #ff9a9a !important;

}
button{
  cursor: pointer;
}

.custom_tab_ctrl li{
  height: 50px;
}

.ae-side-menu{
  flex: 0 0 250px;
}
.ae-list-w{
  flex: 0 0 250px;
}
/*.list_create_btn{
	font-size: 18px;
	display: flex;
	align-items: center;
	height: 50px;}
	.list_create_btn>a{
		display: flex;
		align-items: center;}
	.list_create_btn i{
		margin: 0 10px;}*/
.list_create_btn{
  padding: 15px 10px 0px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 10px;
}

.company_lists{
  padding: 20px}
.company_lists>div{
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 20px;}
.company_lists>div i{
  color: #047bf8;
  transition: all 0.2s ease;}
.company_lists>div span{
  margin-left: 20px;
  color: #3E4B5B;
  font-weight: 400;	}
.company_lists>div:hover i{
  -webkit-transform: translateX(3px);
  transform: translateX(3px);
}

.version_lists{
  padding: 20px;}
.version_lists>div{
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;}
.version_lists>div i{
  padding: 5px;
  color: #047bf8;
  transition: all 0.2s ease;}
.version_lists>div span{
  color: #3E4B5B;
  font-weight: 400;	}
.version_lists .version_timestamp{
  font-size: 16px;
}
.version_lists>div:hover i{
  -webkit-transform: translateX(3px);
  transform: translateX(3px);
}
.version_lists .dropdown-toggle::after{
  content: none;
}

.message-head i{
  padding: 5px;
  color: #047bf8;
  transition: all 0.2s ease;
}
.message-head:hover i{
  -webkit-transform: translateX(3px);
  transform: translateX(3px);
}

.ae-content-w{
  width: 100%;
}
.aec-full-message .add_lock{
  padding: 25px;
  display: flex;
  justify-content: space-between;
}
.add_lock .btn_div button{
  margin-right: 20px;
}
.aec-full-message-w .message-content{
  padding: 0px 25px 25px;
}

.template .ae-content{
  padding: 15px;
}

.template .aec-full-message-w{
  margin-bottom: 20px;
}

.pdfPreviewContainer{
  width: 9in;
  margin: auto;
}
.available_vars{
  padding: 20px;
  padding-left: 30px;
  font-size: 12px;
}
.available_vars li{
  list-style: none;
}

.scheduleTableFooter{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body:before {
  background: linear-gradient(to bottom right, #3c81ba, #79cced) !important;
}

.sidebar-logo-container{
  padding: 10px;
}

.sidebar-logo-img{
  height: 100px !important;
  width: auto !important;
}

.content-w {
  background-image: none !important;
}

.table.table-v2 thead tr th, .table.table-v2 tfoot tr th {
  color: white !important;
  font-weight: bold !important;
  background-color:#3c81ba !important;
}

.btn-secondary{
  background-color:#3c81ba !important;
  color: white !important;
}
/* The container */
.container-checkbox {
  display: block;
  position: relative;
  padding-left: 35px !important;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container-checkbox input {
  position: absolute;
  opacity: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container-checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container-checkbox input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container-checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container-checkbox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* grey background for canceled projets and contracts */
.canceled-row {
  background-color: rgba(104, 113, 119, 0.19) !important;
}

/* smaller button than default */
.btn {
  padding: 0.5rem 0.9rem !important;
}

/* disable auto margin bottom on projet warnings */
.projectValidationForEmail {
  margin-bottom: 0 !important;
}

.form-part-selected{
  background-color: rgba(121, 204, 237, 0.25);
  padding: 5px 15px 0px;
  margin: 5px -15px;
  border: 1px solid;
  border-color: rgba(61, 130, 186, 0.22);
}

.deletedDateBlock {
  display: inline-block;
  margin-left: 10px;
  font-style: italic;
}
.hamburger{
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 4px 10px;
  background: #047bf8;
  color: #ffffff;
  border-radius: 4px;
  font-size: 0.72rem;
  text-transform: uppercase;
  z-index: 4;
  cursor: pointer;
  display: none;
}
@media (max-width: 1024px){
  .hamburger{
    display: block;
  }
}
.hamburger i{
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
}
.hamburger span{
  margin-left: 10px;
  display: inline-block;
  vertical-align: middle;
}
.sidebar-wrapper{
  position: fixed;
  left: -300px;
  width: 300px;
  background: white;
  height: 100%;
  z-index: 1000;
  transition: all 0.5s;
}
.sidebar-wrapper .content-panel-close{
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 14px;
  color: #047bf8;
  z-index: 999;
  cursor: pointer;
}
.sidebar-wrapper .main-menu{
  list-style: none;
  padding: 1rem;
  margin-bottom: 0px;
}
.sidebar-wrapper li:hover{
  background: #eeeeee;
}
.sidebar-wrapper .main-menu a{
  display: flex;
  text-decoration: none;
  align-items: center;
}
.sidebar-wrapper .main-menu .icon-w{
  font-size: 25px;
  padding: 15px;
}

.show-sidebar{
  left: 0;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.4);
}

.schedule_date + div{
  left: -210px;
}

.coInsurerList label{
  display: none;
}

.coInsurerBtn{
  font-size: 25px;
  float: right;
}
.coInsurerBtn .fa-minus-circle{
  color: #D53F3B;
}
.coInsurerBtn .fa-plus-circle{
  color: green;
}

.manifestation-array-title-row{
  font-weight: bold;
}
.manifestation-amount-title-row{
  font-weight: bold;
  text-align: right;
}

.padding-input-array{
  padding: 10px !important;
}

li.draft {
  /*todo: color?*/
}
li.last-selected {
  background-color: #8cde8c !important;
}
li.locked {
  background-color: lightgrey !important;
}
.user-profile .up-head-w:before{
  background-image: linear-gradient(transparent, rgb(124, 206, 236), 150%, rgb(60, 129, 186));
}

.user-profile .up-main-info{
  overflow: hidden;
  text-overflow: ellipsis;
}

.table_avatar{
  padding: 5px;
  border: 1px solid gray;
  border-radius: 50px;
  overflow: hidden;
  display: inline-block;
  width: 60px;
  height: 60px;
}
.table_avatar img{
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.manifestation-date-array{
  font-weight: bold !important;
  background-color: #3c81ba;
  color: white;
}

b{
  font-weight: bolder !important;
}
.date-picker-bt3{
  .input-group{
    flex-wrap: nowrap !important;
  }
  .date-picker-popover{
    opacity: 1 !important;
  }
}
