<link rel="stylesheet" href="../client/style/pdf.css">
<link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&amp;subset=latin-ext" rel="stylesheet">
<div class="first_page">
	<div class="page_header_div">
		<div class="ticket">
			PROJET D’ASSURANCE
		</div>
		<div class="right">
			<div class="black_title">
				RISQUES SPÉCIAUX
			</div>
			<div class="blue_title">
				ANNULATION DE MANIFESTATION
			</div>
		</div>
	</div>
	<div class="header_1">
		<div class="ticket">
			SOUSCRIPTEUR
		</div>
		<div class="box">
			<div class="title_bold">
				LE LIBERTE
			</div>
			<div class="title_1">
				1, esplanade du général De Gaulle<br/>35000 RENNES
			</div>
		</div>
	</div>
	<br/>
	<div class="issue_date">
		Date d'émission du projet : <b>18/09/2017</b>
	</div>
	<br/>
	<div class="header_2">
		<div class="ticket">
			VOTRE PROJET
		</div>
		<div class="title">
			ANNULATION DE MANIFESTATION
		</div>
	</div>
	<br/>
	<div class="header_2">
		<div class="ticket">
			VOS RÉFÉRENCES
		</div>
		<div class="title">
			PROJET N° 2017-ADRC-A00015
		</div>
	</div>
	<br/>
	<br/>
	<div class="indent_1">
		<div class="description">
			<div class="title">
				CONDITIONS PERSONNELLES ET SPÉCIALES
			</div>
			<div class="cover_content">
			</div>
		</div>
		<div class="description">
			<div class="title">
				Ce projet est conclu entre :
			</div>
			<div class="cover_content">
			</div>
		</div>
		<div class="description">
			<div class="title">
				ARK and the others Underwriters at Lloyd’s
			</div>
			<div class="cover_content">
				dénommé l'Assureur et
			</div>
		</div>
		<div class="description">
			<div class="title">
				LE LIBERTE
			</div>
			<div class="cover_content">
				dénommé l'Assureur et
			</div>
		</div>
	</div>
	<div class="header_1">
		<div class="ticket">
			VOTRE CONTACT
		</div>
		<div class="box">
			<div class="title_bold">
				Joanna GOMEZ
			</div>
			<div class="title_2">
				OVATIO PARIS<br/>37 RUE DE LIEGE 75008 PARIS<br/>Tel : 01 42 77 72 99<br/>e-mail : joanna.gomez@ovatio.eu
			</div>
		</div>
	</div>
	<div class="logo">
		<img src="logo.png" width="415" height="216">
	</div>
</div>
<div class="page_header_div">
	<div class="ticket">
		PROJET D’ASSURANCE
	</div>
	<div class="right">
		<div class="black_title">
			RISQUES SPÉCIAUX
		</div>
		<div class="blue_title">
			ANNULATION DE MANIFESTATION
		</div>
	</div>
</div>
<div class="header_1">
	<div class="ticket">
		SOUSCRIPTEUR
	</div>
	<div class="box">
		<div class="title_bold">
			LE LIBERTE
		</div>
		<div class="title_1">
			1, esplanade du général De Gaulle<br/>35000 RENNES
		</div>
	</div>
</div>
<br/>
<br/>
<br/>


