<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta
        http-equiv="Content-Type"
        content="text/html; charset=utf-8"
    >
    <title>Ovatio - votre contrat a été généré</title>
    <style type="text/css">
body {margin: 0; padding: 0; min-width: 100%!important;}
img {height: auto;}
.content {width: 100%; max-width: 600px;}
.header {padding: 0px 30px 0px 30px;}
.innerpadding {padding: 30px 30px 30px 30px;}
.borderbottom {border-bottom: 1px solid #f2eeed;}
.subhead {font-size: 15px; color: #ffffff; font-family: sans-serif; letter-spacing: 10px;}
.h1, .h2, .bodycopy {color: #153643; font-family: sans-serif;}
.h1 {font-size: 33px; line-height: 38px; font-weight: bold;}
.h2 {padding: 0 0 15px 0; font-size: 24px; line-height: 28px; font-weight: bold;}
.title {color: #0073ff;}
.bodycopy {font-size: 16px; line-height: 22px;}
.button {text-align: center; font-size: 18px; font-family: sans-serif; font-weight: bold; padding: 0 30px 0 30px;}
.button a {color: #ffffff; text-decoration: none;}
.footer {padding: 20px 30px 15px 30px;}
.footercopy {font-family: sans-serif; font-size: 14px; color: #ffffff;}
.footercopy a {color: #ffffff; text-decoration: underline;}

@media only screen and (max-width: 550px), screen and (max-device-width: 550px) {
body[yahoo] .hide {display: none!important;}
body[yahoo] .buttonwrapper {background-color: transparent!important;}
body[yahoo] .button {padding: 0px!important;}
body[yahoo] .button a {background-color: #e05443; padding: 15px 15px 13px!important;}
body[yahoo] .unsubscribe {display: block; margin-top: 20px; padding: 10px 50px; background: #2f3942; border-radius: 5px; text-decoration: none!important; font-weight: bold;}
}

/*@media only screen and (min-device-width: 601px) {
.content {width: 600px !important;}
.col425 {width: 425px!important;}
.col380 {width: 380px!important;}
}*/

</style>
</head>

<body
    yahoo
    bgcolor="#f6f8f1"
    style
>
    <table
        width="100%"
        bgcolor="#f6f8f1"
        border="0"
        cellpadding="0"
        cellspacing="0"
    >
        <tbody>
            <tr>
                <td>
                    <!-- [if (gte mso 9)|(IE)]>
<table width="600" align="center" cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td>
<![endif] -->
                    <table
                        bgcolor="#ffffff"
                        class="content"
                        align="center"
                        cellpadding="0"
                        cellspacing="0"
                        border="0"
                    >
                        <tbody>
                            <tr>
                                <td
                                    bgcolor="#79b7fb"
                                    class="header"
                                >
                                    <table
                                        width="100"
                                        align="center"
                                        border="0"
                                        cellpadding="0"
                                        cellspacing="0"
                                    >
                                        <tbody>
                                            <tr>
                                                <td height="150px">
                                                    <img
                                                        src="<%- baseUrl %>/img/ovatio-transparent.png"
                                                        class="fix"
                                                        style="width: auto; height: 150px"
                                                        border="0"
                                                        alt="logo ovatio"
                                                    >
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td class="innerpadding borderbottom">
                                    <table
                                        width="100%"
                                        border="0"
                                        cellspacing="0"
                                        cellpadding="0"
                                    >
                                        <tbody>
                                            <tr>
                                                <td
                                                    class="h2 title"
                                                    align="center"
                                                >
                                                    Votre contrat a été généré
                                                </td>
                                            </tr>
                                            <tr>
                                                <td
                                                    class="bodycopy"
                                                    align="left"
                                                >
                                                    Bonjour <b><%= clientName %></b>
                                                    <br>
                                                    <br>
                                                    Pour faire suite à de votre demande, nous vous prions de trouver ci-joint les conditions d'assurance 
                                                        que nous sommes en mesure de vous proposer pour votre événement <b><%= manifestationName %></b>.
                                                    <br>
                                                    <br>
                                                    Cette proposition a été établie à votre usage exclusif et confidentiel, 
                                                        compte tenu des éléments fournis par vos soins lors de nos divers échanges 
                                                        téléphoniques ou courriers et compte tenu de l'état du marché et des réponses 
                                                        disponibles dans les branches d'assurances concernées.
                                                    <br>
                                                    <br>
                                                    Nous vous adressons un projet d’assurance établi auprès formulé EN TOUS RISQUES SAUF,
                                                        c’est à dire que seules les exclusions listées au contrat, sont opposable à l’objet du contrat.
                                                        Ces exclusions se trouvent en page 4 du présent projet, ainsi qu’à la fin de chaque extension
                                                        de garantie souscrite dans le chapitre 6.
                                                    <br>
                                                    <br>
                                                    Nous vous invitons à vérifier les éléments qui constituent cette proposition et notamment 
                                                        sa conformité aux déclarations ayant servies de base à ce projet et, le cas échéant à nous 
                                                        faire part de toute modification qui vous semblerait opportune.
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="bodycopy">
                                                    <hr>
                                                    Rappel des éléments pris en compte dans la création du projet :
                                                    <ul>
                                                        <li>
                                                            Budget déclaré : <b><%= budget %></b> € (représentant le montant de la cession, l’intégralité de vos frais engagés irrécupérables ou l’intégralité de vos frais et bénéfices selon la mention retenue au projet).
                                                        </li>

                                                        <% if (hasBadWeatherExtension) { %>
                                                        <li>
                                                            Extension des garanties en cas d’intempéries car votre événement a lieu à l’extérieur selon le type de scène déclaré au projet
                                                        </li>
                                                        <% } %>

                                                        <% if (hasCrowShortageExtension) { %><li>
                                                            Extension des garanties en cas d’indisponibilité de personnes comme tel :
                                                            <b>
                                                                <% personnes.forEach(function (contact) { %>
                                                                    <%= contact.function %>
                                                                <% }) %>
                                                            </b>
                                                        </li><% } %>

                                                        <% if (hasBombingExtension) { %><li>
                                                            Extension des garanties aux conséquences des attentats et le retrait des autorisations administratives suite à un attentat sur site constaté moins de « <b><%= bombingNumberOfDay %></b> » jours avant l’événement.
                                                        </li><% } %>
                                                        <% if (hasBombingExtension) { %><li>
                                                            Nous couvrons les conséquences de retrait d’autorisation administrative ou une recommandation de ne pas maintenir l’événement suite à une menace d’attentats ou de terrorisme survenu dans un rayon de « <b><%=  %></b> » km et constaté moins de « <b><%= %></b> » jours avant l’événement.
                                                        </li><% } %>
                                                        <li>
                                                            La date limite de souscription est fixée au <b><%= creationDate %></b> (au delà de cette date, les Assureurs ne seront plus engagés à valider les conditions proposées)
                                                        </li>
                                                    </ul>
                                                    <br>
                                                    Au titre de la réalisation des prestations que nous vous proposons, nous nous engageons à réaliser nos prestations dans les règles de l’art et à exécuter les obligations à notre charge avec tout le soin en usage dans la profession. 
                                                    <br><br>
                                                    Si cette proposition recueille votre agrément, nous vous remercions de bien vouloir nous la retourner datée, signée et dûment revêtue de la mention “Bon pour Accord” .
                                                    <br>
                                                    <br>
                                                    Dans l’attente de la suite à donner,<br>
                                                    <br>
                                                    Bien cordialement,
                                                    <br><br>
                                                    L'équipe Ovatio
                                                    <br>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td
                                    class="footer"
                                    bgcolor="#44525f"
                                >
                                    <table
                                        width="100%"
                                        border="0"
                                        cellspacing="0"
                                        cellpadding="0"
                                    >
                                        <tbody>
                                            <tr>
                                                <td
                                                    align="center"
                                                    class="footercopy"
                                                >
                                                    <br>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- [if (gte mso 9)|(IE)]>
    </td>
  </tr>
</table>
<![endif] -->
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
